body {
  background-image: url("assets/home/background-home-desktop.jpg");
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

#logo {
  position: absolute;
  width: 48.000064849853516px;
  height: 48px;
  top: 45px;
  left: 30px;
}

.line-bar {
  position: absolute;
  width: 473px;
  height: 1px;
  top: 60px;
  left: 167px;
}

#linie {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  position: absolute;
  width: 830px;
  height: 96px;
  top: 20px;
  left: 610px;
  background: #ffffff0a;
  backdrop-filter: blur(81.54845428466797px);
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.nav-links span {
  width: 15px;
  height: 19px;
  font-weight: 700;
  font-size: 16px;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 165px;
  color: white;
  height: 100vh;
  padding-top: 80px
}
.hero-bis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  max-width: 450px;
}

.pretitle {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 4.72px;
  color: #d0d6f9;
  margin: 0;
}

.hero-bis h1 {
  font-family: Bellefair, serif;
  font-weight: 400;
  font-size: 150px;
  line-height: 1;
  color: #ffffff;
  margin: 0;
}

.write-about {
  font-family: Barlow, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0;
  color: #d0d6f9;
  margin: 0;
}

.explore-button {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  background: white;
  color: #0b0d17;
  font-family: "Bellefair", serif;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.explore-button a {
  width: 148px;
  height: 37px;
  top: 119px;
  left: 62px;
  font-family: Bellefair;
  font-weight: 400px;
  letter-spacing: 2px;
  color: #0b0d17;
  text-decoration: none;
}
